@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');


html {
  min-height: 100vh;
}

body {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  position: relative;
  margin: 0px;
  height: 100vh;
  box-sizing: border-box;
  background: linear-gradient(to bottom right, #1e1e1e, #3d2b1f);
  color: #f1f1f1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#middle {
  display: inline-table;
  text-align: center;
  position: relative;
  transform: translateY(-1.7vw);
}

#header {
  position: relative;
}

#title {
  position: relative;
  font-family: 'Playfair Display', serif;
  letter-spacing:2px;
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.8);
  margin-bottom: -5px;
  font-size: 3rem;
  text-align: center;
  color: #ffd700;
  text-shadow: 0 0 5px #ffd700 ;
  bottom: 2vw;
  opacity: 0;
  animation: intro 2s forwards;
}

#underline {
  display: block;
  margin: 0 auto;
  width: 100%;
  filter: invert(100%);
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 2s;
}


#gifContainer {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin-top: 2em;
  background-color: #111; 
  border: 7px #ffd700 double;
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 2.3s;
  box-shadow: 0 0 35px rgba(247, 212, 17, 0.2);
  max-height: 340px;
  max-width: 95%;
  border-radius: 12px;
}

#gif {
  margin-bottom: -0.5px;
  display: block;
  width: 30vw;
  max-height: 325px;
  object-fit: cover;
}

#descrip {
  font-size: 1.2vw;
  margin-top: 0.3em;
  display: block;
  text-decoration: none;
  color: white;
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 2.3s;
}

#descrip:hover {
  color: rgb(187, 187, 187);
}

#descriptionContainer {
  position: absolute;
  border: 0.25vw dotted white;
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  bottom: 1%;
  right: 50%;
  transform: translate(50%);
  width: 60%;
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 2.6s;
}

#projectBy {
  display: block;
  color: white;
  font-size: 1vw;
  margin-top: 0.5vw;
}

#TOP {
  margin: 0.5vw 0;
  width: 17vw;
  display: block;
  transform: translateX(1.5%);
}

#left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

#topLeft,
#bottomLeft {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  pointer-events: none;
  left: -30vw;
  position: relative;
  opacity: 0;
  animation: leftSlide 2s forwards;
  animation-delay: 2.8s;
}

#topLeft:hover,
#bottomLeft:hover,
#topRight:hover,
#bottomRight:hover {
  transform: scale(1.06);
}

#topLeftFrame,
#bottomLeftFrame,
#topRightFrame,
#bottomRightFrame {
  width: 22vw;
  filter: hue-rotate(5deg) saturate(0.6) contrast(1.1);
  display: block;
  z-index: 2;
  box-shadow: 0 0 20px rgba(255,215,0,0.05);
  transition: all 0.6s ease;
}

#topLeft:hover>#topLeftFrame,
#bottomLeft:hover>#bottomLeftFrame,
#topRight:hover>#topRightFrame,
#bottomRight:hover>#bottomRightFrame {
  transition: 0.75s;
  filter: hue-rotate(-15deg) saturate(1) contrast(1.4);
  box-sizing: 0 0 30px rgba(255,215,0,0.4);
  transform: scale(1.03);
}

#topLeftRecipe,
#bottomLeftRecipe,
#topRightRecipe,
#bottomRightRecipe {
  position: absolute;
  width: 18vw;
  height: 18vw;
  display: inline;
  object-fit: cover;
  pointer-events: auto;
  box-shadow: 0 0 3vw white;
}

#topLeft:hover>#topLeftRecipe,
#bottomLeft:hover>#bottomLeftRecipe,
#topRight:hover>#topRightRecipe,
#bottomRight:hover>#bottomRightRecipe {
  box-shadow: 0 0 4vw white;
  transition-duration: 1s;
}

#topLeftFrame,
#bottomLeftFrame,
#topRightFrame,
#bottomRightFrame {
  width: 22vw;
  display: block;
  z-index: 2;
}

#topLeftOverlay,
#bottomLeftOverlay,
#topRightOverlay,
#bottomRightOverlay {
  position: absolute;
  width: 18vw;
  height: 18vw;
  background: rgba(0, 0, 0, 0);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Architects_Daughter";
  opacity: 0;
  transition: 0.75s;
  pointer-events: auto;
  text-decoration: none;
}

#topLeftOverlay>*,
#bottomLeftOverlay>*,
#topRightOverlay>*,
#bottomRightOverlay>* {
  transform: translateY(1.5vw);
  transition: transform 0.5s;
}

#topLeftOverlay:hover,
#bottomLeftOverlay:hover,
#topRightOverlay:hover,
#bottomRightOverlay:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.65);

}

#topLeftOverlay:hover>*,
#bottomLeftOverlay:hover>*,
#topRightOverlay:hover>*,
#bottomRightOverlay:hover>* {
  transform: translateY(0.5vw);
}

#topLeftTitle,
#bottomLeftTitle,
#topRightTitle,
#bottomRightTitle {
  display: block;
  font-size: 1.6vw;
  text-decoration: underline;
  margin-top: 0.4vh;
}

#topLeftDescription,
#bottomLeftDescription,
#topRightDescription,
#bottomRightDescription {
  font-size: 1vw;
  text-align: center;
  margin-top: 1vh;
}

#right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}

#topRight,
#bottomRight {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  pointer-events: none;
  right: -30vw;
  position: relative;
  opacity: 0;
  animation: rightSlide 2s forwards;
  animation-delay: 2.8s;
}

#shitpost {
  display: none;
  position: absolute;
  width: 4em;
  height: 1em;
  pointer-events: auto;
}

.chan {
  position: relative;
  color: white;
  background: black;
  top: 3.6em;
  width: 15em;
  opacity: 0;
  text-align: center;
  pointer-events: none;

}

@keyframes intro {
  100% {
    bottom: 0
  }

  ;

  from {
    opacity: 0
  }

  to {
    opacity: 1
  }

  ;
}

@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }

  ;
}

@keyframes leftSlide {
  100% {
    left: 0
  }

  ;

  from {
    opacity: 0
  }

  to {
    opacity: 1
  }

  ;
}

@keyframes rightSlide {
  100% {
    right: 0
  }

  ;

  from {
    opacity: 0
  }

  to {
    opacity: 1
  }

  ;
}

@media (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: auto;
    overflow-x: hidden;
  }

  #title {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 1rem;
    order: 1;
  }

  #gif {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
  }

  #gifContainer {
    max-width: 100%;
    width: 100%;
    margin: 1em 0;
    border-width: 5px;
    order: 2;
  }

  #left,
  #right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    order: 3;
  }

  #topLeft, #bottomLeft,
  #topRight, #bottomRight {
    margin: 1rem 0;
    opacity: 1 !important;
    animation: none !important;
    pointer-events: auto;
    position: relative;
    left: 0 !important;
    right: 0 !important;
  }

  #topLeftFrame,
  #bottomLeftFrame,
  #topRightFrame,
  #bottomRightFrame{
    width: 85vw;
    height: 85vw;
    max-width: 100%;
  }
  #topLeftRecipe,
  #bottomLeftRecipe,
  #topRightRecipe,
  #bottomRightRecipe,
   #topLeftOverlay,
  #bottomLeftOverlay,
  #topRightOverlay,
  #bottomRightOverlay{
    width: 70vw;
    height: 70vw;
  }

  #topLeftTitle,
  #bottomLeftTitle,
  #topRightTitle,
  #bottomRightTitle {
    font-size: 1.1rem;
    text-align: center;
  }

  #topLeftDescription,
  #bottomLeftDescription,
  #topRightDescription,
  #bottomRightDescription {
    font-size: 0.9rem;
    text-align: center;
    padding: 0 0.5rem;
  }

  #descriptionContainer {
    width: 100%;
    position: relative;
    bottom: unset;
    right: unset;
    transform: none;
    margin-top: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    order: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

   #descrip {
    font-size: 1rem;
    text-align: center;
    margin-top: 0.5rem;
  }

  #projectBy {
    font-size: 0.9rem;
    text-align: center;
  }

  #TOP {
    width: 80%;
    margin: 1rem auto;
  }
}
